/* 
#5400FF BLUE
#00E7E8 CYAN
#80FF00 GREEN
#E8980A YELLOW
#FF0035 RED
*/
* {
	font-family: 'Arimo';
}
body {
	margin: 0;
	position: relative;
}
body .menu .status p {
	color: white;
	font-weight: bold;
	font-size: 90px;
	margin-left: 120px;
	margin-top: 150px;
}
body .playscreen .map {
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
}
body .playscreen .cellrow {
	margin: auto;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
body .playscreen .map .cellrow .cell {
	width: 50px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
}
body .playscreen .map .cellrow .cell p {
	text-align: center;
	position: relative;
	top: -5px;
}
body .playscreen .map .cellrow .colector {
	background: #5400FF !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	body .playscreen .map .cellrow .cell {
		width: 30px;
		height: 30px;
	}

}
